.content {

    &__description {
        border-top: 1px solid $light-silver;
        border-bottom: 1px solid $light-silver;
        margin: 70px 0;
        padding: 60px 0;

        &_top {
            font-style: italic;
            font-size: 18px;
        }
    }

    &__buttons > img {
        width: 210px;
        height: 42px;
        margin-right: 28px;
    }

}
